@import "../../nerv2/style.css";
#clock, #custom-week, #custom-ruler { border: none; margin: 0; padding: 0; background: transparent; color: @fg; }
#clock.date, #clock.time { border: none; }
#clock.hour { font-size: 22px; color: mix(@fg, white, 0.35); padding-top: 4px; }
#clock.min  { font-size: 22px; }
#clock.date { font-size: 10px; color: alpha(@fg, 0.6); padding: 6px 0 4px 0; }
