@import "../../nerv2/style.css";
#clock, #custom-week, #custom-ruler { border: none; margin: 0; padding: 0; background: transparent; color: @fg; }
#clock.date, #clock.time { border: none; }
#clock.hour { font-size: 18px; color: mix(@fg, white, 0.35); }
#clock.min  { font-size: 18px; color: alpha(@fg, 0.7); padding-bottom: 8px; border-bottom: 1px solid alpha(@fg, 0.3); margin: 0 6px; }
#clock.wday { font-size: 10px; color: alpha(@fg, 0.6); padding-top: 8px; }
#clock.day  { font-size: 18px; color: mix(@fg, white, 0.35); }
#clock.date { font-size: 10px; color: alpha(@fg, 0.6); }
